extends layout

block content
    h1 Centro Criollo de Ciencia y Tecnologia del Caribe (C3Tec)
    p Welcome, please select a task to work with.

    a(href='/registro')
      button.btn.btn-primary  Add Visitors
    a(href='/users')
      button.btn.btn-danger Reports
